.frame-child {
    height: 583px;
    width: 638px;
    position: absolute;
    margin: 0 !important;
    bottom: -303px;
    left: -207px;
    z-index: 1;
}

.bg,
.valuelinku {
    position: relative;
}

.bg {
    width: 860px;
    height: 900px;
    background: linear-gradient(180deg, #152b46, #336aac);
    display: none;
    max-width: 100%;
}

.valuelinku {
    margin: 0;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
}

.intelligent-port-information {
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    z-index: 1;
}

.valuelinku-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.read-more {
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: var(--white);
    text-align: left;
    display: inline-block;
    min-width: 75px;
}

.bg-parent,
.frame-parent,
.read-more-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.read-more-wrapper {
    cursor: pointer;
    border: 0;
    padding: 8px 30px;
    background-color: var(--color-royalblue);
    border-radius: var(--br-11xl);
    flex-direction: row;
    white-space: nowrap;
    z-index: 1;
}

.button:hover,
.read-more-wrapper:hover {
    background-color: var(--color-dodgerblue);
}

.bg-parent,
.frame-parent {
    max-width: 100%;
}

.bg-parent {
    flex: 1;
    background: linear-gradient(180deg, #152b46, #336aac);
    flex-direction: column;
    padding: 371px 157px 382px;
    box-sizing: border-box;
    gap: 23px;
}

.frame-parent {
    width: 860px;
    flex-direction: row;
    position: relative;
    min-width: 860px;
}

.hello-again {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
}

.login-to-get {
    position: relative;
    font-size: var(--font-size-lg);
}

.hello-again-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    gap: 3px;
}

.codiconmail {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.email,
.email-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.email-child {
    width: 99px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 23px;
    flex-direction: column;
    padding: var(--padding-11xs) 0 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray-200);
}

.email {
    align-self: stretch;
    border-radius: var(--br-11xl);
    background-color: var(--white);
    border: 1px solid var(--color-whitesmoke);
    flex-direction: row;
    padding: var(--padding-base) var(--padding-7xl);
    gap: var(--gap-5xs);
}

.bxbxs-lock-alt-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.password,
.password-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.password-child {
    width: 68px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 23px;
    flex-direction: column;
    padding: var(--padding-11xs) 0 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray-200);
}

.password {
    align-self: stretch;
    border-radius: var(--br-11xl);
    background-color: var(--white);
    border: 1px solid var(--color-whitesmoke);
    flex-direction: row;
    padding: var(--padding-base) var(--padding-7xl);
    gap: var(--gap-5xs);
}

.log-in {
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: var(--white);
    text-align: left;
    display: inline-block;
    min-width: 41px;
}

.button {
    cursor: pointer;
    border: 0;
    padding: 18px var(--padding-xl);
    background-color: var(--color-royalblue);
    align-self: stretch;
    border-radius: var(--br-11xl);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
}

.email-parent,
.frame-group {
    align-self: stretch;
    flex-direction: column;
}

.email-parent {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-group {
    gap: 40px;
}

.frame-group,
.login,
.login-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.login-inner {
    width: 307px;
    flex-direction: column;
    padding: 195px 0 0;
    box-sizing: border-box;
    min-width: 307px;
    font-size: 26px;
    color: var(--color-darkslategray-100);
}

.login {
    width: 100%;
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    flex-direction: row;
    gap: 128px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 40px;
    color: var(--white);
    font-family: var(--font-poppins);
}

@media screen and (max-width: 1225px) {

    .frame-parent,
    .login-inner {
        flex: 1;
    }

    .login {
        flex-wrap: wrap;
        gap: 64px;
    }
}

@media screen and (max-width: 1050px) {
    .frame-parent {
        min-width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .valuelinku {
        font-size: 32px;
    }

    .bg-parent {
        padding: 241px 78px 248px;
        box-sizing: border-box;
    }

    .login-inner {
        padding-top: 127px;
        box-sizing: border-box;
    }

    .login {
        gap: 32px;
    }
}

@media screen and (max-width: 450px) {
    .valuelinku {
        font-size: 24px;
    }

    .bg-parent {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .hello-again {
        font-size: 21px;
    }

    .frame-group {
        gap: 20px;
    }

    .login {
        gap: var(--gap-base);
    }
}