@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto);

/* 검색창 */
/* .search-field {
    display: inline-block;
    margin-top: 15%;
    background-color: transparent;
    z-index: 10000;
    padding: 5px;
} */

/* 
    유료회원이 아닐 때 차트 덮어쓰는 부분 
*/
.waitingChartDiv,
.workingChartDiv {
    position: relative;
}

.unpaid-user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #303030;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lock-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.lock-text {
    margin: 15px;
    font-size: 12px;
    color: #fff;
}

/*
	차트 부분
*/
body {
    font-family: Roboto, sans-serif;
}


.arrow_box {
    position: relative;
    background: #fff;
    border: 2px solid #000000;
}

/*
	모달 팝업 파트
*/


.modal {
    display: none;
    position: absolute;
    top: 10%;
    right: 5px;
    width: 55%;
    height: 88%;
    background: #fff;
    padding-bottom: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.modal .flex-container {
    display: flex;
    /* 플렉스 컨테이너로 설정 */
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.popup {
    flex: 1 1 45%;
    display: block;
    border: none;
    box-shadow: 10px 5px 5px #e8e8e8;
    border-radius: 5px;
    /* 높이를 자동으로 설정 */
    /* 4/24: height:auto를 지움 */
    margin: 5px;
    padding: 0px;
    /* 원래 5px */
    box-sizing: border-box;
}

.first-row-wrapper,
.second-row-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* 항구 명 */
#popup1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    gap: 15px;
    /* 왼쪽으로 정렬 */
}

.port-name-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.port-name-ko {
    font-size: 25px;
    font-weight: 800;
}

.port-name-cd {
    font-size: 18px;
    font-weight: 600;
}


/* 항만 혼잡도 */
#popup2 {
    width: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.Title {
    font-size: 15px;
    color: #828282;
    font-weight: 600;
}

#efficiencyMessage {
    margin-bottom: 0;
}

#portCog {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}

/*
	popup3 파트
*/
#popup3 {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.TotalCount {
    display: flex;
    flex-direction: row;
}

h4.Title, div.shipChartToolTip{
    width: 50%; 
}
div#ToolTipWidth{ /* 대기시간&혼잡도 통계 제목 깨짐 해결 */
	width: 30%; 
}
/*
	popup4 파트
*/
#popup4,
#popup5 {
    width: 90%;
    padding: 20px;

}

div.titleAndtooltip {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div#avgWaitingChart {
    height: 90%;
}

/*
	popup5
*/

div#lastWeekChart {
    width: 100%;
    height: 90%;
}

div#lastWeekChartContent {
    display: flex;
    justify-content: center;
    align-items: center;
}


#waitingShipListChart,
#workingShipListChart {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.workingChartDiv,
.waitingChartDiv {
    position: relative;
    display: inline-block;
    padding: 20px;
}


/* 공통 */
h4 {
    margin: 0px;
    padding: 0px;
}

#portCode {
    position: relative;
    bottom: -10px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

/* 삭제 */
.modal .close_btn {
    position: absolute;
    /* 위치를 고정합니다. */
    top: 7px;
    right: 7px;
    cursor: pointer;
    width: 18px;
    background: #FC5753;
    z-index: 1;
    /* z-index를 높게 설정하여 다른 요소 위에 위치하도록 합니다. */
}

/* 검색창 */
input#searchInput {
    height: 30px;
    width: 300px;
    border-radius: 25px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bolder;
    padding-left: 15px;
    /* 텍스트 입력하는 곳 위치 조절 */
}

img#searchIcon {
    height: 24px;
    width: 24px;
    cursor: pointer;
    float: right;
    position: absolute;
    transform: translate(-30px, 6px);
}

/*
	툴팁
*/
.portCogTooltip-container {
    text-align: center;
    /* 텍스트를 가운데 정렬 */
    position: relative;
    /* 포지션을 상대적으로 설정하여 내부 요소들을 정렬 */
}

#portCogToolTip,
#portCogIconPlace {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shipChartToolTip {
    /* 툴팁 발생으로 가로 스크롤이 생김 */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.portCogTooltip-container,
#portCog {
    position: relative;
    display: inline-block;
}

/* 툴팁 텍스트와 출력위치: 아이콘 상단 중앙 */
.portCogTooltip-text {
    position: absolute;
    z-index: 1000;
    visibility: hidden;
    width: 120px;
    background: black;
    font-size: x-small;
    padding: 4px;
    color: #fff;
    border-radius: 5px;
    animation: fadeIn 0.6s;
    bottom: 75%;
    right: 5%;
    margin-right: -54px;
    text-align: left;
}

/* 툴팁에 말풍선 */
.portCogTooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -1px;
    /* 툴팁 좌우 이동 */
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

#firstTooltip {
    width: 180px;
    margin-right: -83px;
    /* 중앙으로 이동 */
}



/* 마우스 오버 시 툴팁 텍스트 표시 */
.portCogTooltip-container:hover .portCogTooltip-text {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}