.register {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* Left box */
.register .left-content {
    position: absolute;
    width: 1067px;
    height: 1203px;
    top: 0;
    left: -207px;
}

.register .overlap {
    position: relative;
    height: 1203px;
}

.register .bg {
    position: absolute;
    width: 860px;
    /* height: 900px; */
    height: 100%;
    top: 0;
    left: 207px;
    background: linear-gradient(180deg, rgb(20.74, 42.99, 69.69) 0%, rgb(51.1, 105.91, 171.69) 100%);
}

.register .group {
    position: absolute;
    width: 638px;
    height: 583px;
    top: 620px;
    left: 0;
}

.register .overlap-group {
    position: relative;
    height: 583px;
}

.register .ellipse {
    position: absolute;
    width: 557px;
    height: 557px;
    top: 26px;
    left: 81px;
    border-radius: 278.5px;
    border: 1px solid;
    border-color: #0575e6;
}

.register .ellipse-2 {
    position: absolute;
    width: 557px;
    height: 557px;
    top: 0;
    left: 0;
    border-radius: 278.5px;
    border: 1px solid;
    border-color: #0575e6;
}

.register .content {
    position: absolute;
    width: 313px;
    height: 147px;
    top: 371px;
    left: 364px;
}

.register .frame {
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    display: inline-flex;
    position: relative;
}

.register .group-2 {
    position: relative;
    width: 317px;
    height: 87px;
    margin-right: -4px;
}

.register .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.register .text-wrapper-2 {
    position: absolute;
    top: 60px;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--white);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.register .div-wrapper {
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 30px;
    flex: 0 0 auto;
    background-color: #0575e6;
    border-radius: 30px;
    display: inline-flex;
    position: relative;
}

.register .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

/* Right box */
.right-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 307px;
    height: 100%;
    top: 150px;
    left: 979px;
}

/* page icon */
.page {
    order: 1;
    position: absolute;
    width: 32px;
    height: 13px;
}

.page .page-icon {
    position: absolute;
    width: 32px;
    height: 13px;
    top: 206px;
    left: 979px;
}

.page .ellipse-3 {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    background-color: #0575e6;
    border-radius: 6.5px;
}

.page .elipse-4 {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 19px;
    background-color: #d9d9d9;
    border-radius: 6.5px;
}

.right-content .title {
    order: 2;
    position: absolute;
    width: 202px;
    height: 105px;
    top: 0;
    left: 0;
}

.right-content .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #333333;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}

.right-content .div {
    position: absolute;
    top: 42px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

/* register-form */
.register-form {
    order: 3;
    /* position: absolute; */
    margin: 20px auto;
}


.input-area {
    display: flex;
    flex-direction: column;
    width: 307px;
    align-items: flex-start;
    justify-content: center;
    /* gap: 10px; */
    margin: 10px;
    padding: 18px 26px;
    position: relative;
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid;
    border-color: #eeeeee;
}

.placeholder {
    position: relative;
    width: 104px;
    height: 24px;
}

input {
    position: absolute;
    top: 2px;
    left: 32px;
    opacity: 0.3;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    padding: 0;
}

.input-img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}

/* register button */
.button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 361px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 18px 26px;
    position: relative;
    background-color: #0575e6;
    border-radius: 30px;
}

.button .placeholder {
    position: relative;
    width: 51px;
    height: 21px;
}

.button .next {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}