<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" th:href="@{/css/globalsubs.css}" />
    <link rel="stylesheet" th:href="@{/css/subs.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krub:wght@600&display=swap" />

    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script>
        $(function () {
            $("#button-monthly").on('click', function () { generateOrder('monthly'); });
            $("#button-yearly").on('click', function () { generateOrder('yearly'); });
        });

        function scrollToOrder() {
            // payment-panel 영역으로 스크롤 
            let orderInfo = document.querySelector('.payment-form').offsetTop;
            window.scrollTo({ left: 0, top: orderInfo, behavior: 'smooth' });
        }

        function generateOrder(planType) {
            if (planType == 'monthly') {
                console.log(planType);
                $(".payment-button").text('USD 50.00 결제');
                $(".subscription-plan").text('Monthly Subscription');
                $(".item-price").text('$50.00');
                $(".total-price").text('$50.00');
            } else {
                console.log(planType);
                $(".payment-button").text('USD 48.00 결제');
                $(".subscription-plan").text('Yearly Subscription');
                $(".item-price").text('$48.00');
                $(".total-price").text('$48.00');
            }

            scrollToOrder();
        }
    </script>
</head>

<body>
    <div class="subscription">
        <header class="global-navigation-bar-anonym">
            <div class="navigation-background"></div>
            <div class="log-in-parent">
                <button class="log-in">
                    <div class="log-in1">Log in</div>
                </button>
                <nav class="menu-list">
                    <div class="home">Home</div>
                    <div class="port-status">Port Status</div>
                    <div class="vessel-schedule">Vessel Schedule</div>
                    <div class="marine-news">Marine News</div>
                    <div class="subscription1">Subscription</div>
                </nav>
            </div>
            <div class="sign-up-wrapper">
                <button class="sign-up">
                    <div class="sign-up1">Sign up</div>
                </button>
            </div>
        </header>
        <section class="pricing">
            <div class="pricing-container-wrapper">
                <div class="pricing-container">
                    <div class="plan-type-wrapper">
                        <div class="plan-type">
                            <div class="pattern"></div>
                            <div class="text">
                                <div class="pricing1">Pricing</div>
                            </div>
                        </div>
                    </div>
                    <h2 class="pricing-plan">Pricing Plan</h2>
                </div>
            </div>
            <div class="emtpy-section"></div>
            <div class="plan-comparison-table">
                <div class="standard-plan">
                    <div class="standard-wrapper">
                        <h3 class="standard">Standard</h3>
                    </div>
                    <div class="plan-duration">
                        <div class="parent">
                            <div class="div">$0</div>
                            <div class="month-wrapper">
                                <div class="month">/ month</div>
                            </div>
                        </div>
                    </div>
                    <div class="line-parent">
                        <div class="line"></div>
                        <div class="wrapper">
                            <div class="div1">✅</div>
                        </div>
                        <div class="line-group">
                            <div class="line1"></div>
                            <div class="container">
                                <div class="div2">✅</div>
                            </div>
                        </div>
                        <div class="line-container">
                            <div class="line2"></div>
                            <div class="frame">
                                <div class="div3">✅</div>
                            </div>
                        </div>
                        <div class="line3"></div>
                        <div class="frame-div">
                            <div class="div4">-</div>
                        </div>
                    </div>
                    <div class="feature-row">
                        <div class="plan-buttons"></div>
                        <div class="frame-parent">
                            <div class="wrapper1">
                                <div class="div5">-</div>
                            </div>
                            <div class="frame-group">
                                <div class="frame-container">
                                    <div class="line-parent1">
                                        <div class="line4"></div>
                                        <div class="wrapper2">
                                            <div class="div6">-</div>
                                        </div>
                                    </div>
                                    <div class="line5"></div>
                                </div>
                                <div class="wrapper3">
                                    <div class="div7">-</div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-footer-divider"></div>
                    </div>
                </div>
                <div class="function-list-parent">
                    <div class="function-list">
                        <div class="function-divider"></div>
                        <div class="wrapper4">
                            <div class="div8">항구 혼잡도 조회</div>
                        </div>
                        <div class="function-comparison">
                            <div class="function-description">
                                <div class="ship-information">
                                    <div class="function-title-divider"></div>
                                    <div class="function-name-labels">
                                        <div class="div9">대기&작업 선박 조회</div>
                                    </div>
                                </div>
                                <div class="second-function-divider"></div>
                                <div class="wrapper5">
                                    <div class="div10">라이브 채팅 조회</div>
                                </div>
                            </div>
                            <div class="function-names">
                                <div class="function-dividers"></div>
                                <div class="function-title-container">
                                    <div class="div11">라이브 채팅 참여</div>
                                </div>
                            </div>
                            <div class="function-names1">
                                <div class="line6"></div>
                                <div class="second-function-title">
                                    <div class="gpt">GPT 채팅</div>
                                </div>
                            </div>
                            <div class="function-names2">
                                <div class="line7"></div>
                                <div class="third-function-title">
                                    <div class="div12">항만뉴스</div>
                                </div>
                            </div>
                            <div class="function-names3">
                                <div class="line8"></div>
                                <div class="wrapper6">
                                    <div class="div13">커스텀 알람</div>
                                </div>
                            </div>
                            <div class="function-list-footer-divider"></div>
                        </div>
                    </div>
                    <div class="monthly-plan">
                        <div class="monthly-wrapper">
                            <h3 class="monthly">Monthly</h3>
                        </div>
                        <div class="monthly-plan-name">
                            <div class="monthly-price-details">
                                <div class="price">$50</div>
                                <div class="monthly-frequency">
                                    <div class="month1">/ month</div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-feature-list-parent">
                            <div class="plan-feature-list">
                                <div class="feature-divider"></div>
                                <div class="feature-check">
                                    <div class="wrapper7">
                                        <div class="div14">✅</div>
                                    </div>
                                    <div class="plan-sub-feature">
                                        <div class="check-divider"></div>
                                        <div class="price-unit">
                                            <div class="div15">✅</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="plan-divider">
                                <div class="check-separator"></div>
                                <div class="sub-feature-mark">
                                    <div class="div16">✅</div>
                                </div>
                            </div>
                            <div class="feature-check1">
                                <div class="line9"></div>
                                <div class="check-mark">
                                    <div class="div17">✅</div>
                                </div>
                            </div>
                            <div class="feature-check2">
                                <div class="line10"></div>
                                <div class="wrapper8">
                                    <div class="div18">✅</div>
                                </div>
                            </div>
                            <div class="feature-check3">
                                <div class="line11"></div>
                                <div class="wrapper9">
                                    <div class="div19">✅</div>
                                </div>
                            </div>
                            <div class="feature-check4">
                                <div class="line12"></div>
                                <div class="wrapper10">
                                    <div class="div20">✅</div>
                                </div>
                            </div>
                            <div class="line13"></div>
                        </div>
                        <div class="button-wrapper">
                            <div class="button" id="button-monthly">
                                <div class="choose-plan">Choose Plan</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yearly-plan">
                    <div class="yearly-wrapper">
                        <h3 class="yearly">Yearly</h3>
                    </div>
                    <div class="yearly-plan-inner">
                        <div class="group">
                            <div class="div21">$48</div>
                            <div class="month-container">
                                <div class="month2">/ month</div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-parent1">
                        <div class="line-parent2">
                            <div class="line14"></div>
                            <div class="frame-parent2">
                                <div class="wrapper11">
                                    <div class="div22">✅</div>
                                </div>
                                <div class="line-parent3">
                                    <div class="line15"></div>
                                    <div class="wrapper12">
                                        <div class="div23">✅</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-parent4">
                            <div class="line16"></div>
                            <div class="wrapper13">
                                <div class="div24">✅</div>
                            </div>
                        </div>
                        <div class="line-parent5">
                            <div class="line17"></div>
                            <div class="wrapper14">
                                <div class="div25">✅</div>
                            </div>
                        </div>
                        <div class="line-parent6">
                            <div class="line18"></div>
                            <div class="wrapper15">
                                <div class="div26">✅</div>
                            </div>
                        </div>
                        <div class="line-parent7">
                            <div class="line19"></div>
                            <div class="wrapper16">
                                <div class="div27">✅</div>
                            </div>
                        </div>
                        <div class="line-parent8">
                            <div class="line20"></div>
                            <div class="wrapper17">
                                <div class="div28">✅</div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="button-wrapper">
                        <div class="button" id="button-yearly">
                            <div class="choose-plan">Choose Plan</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Payment panel -->
        <div class="payment-form">
            <div class="payment-title-row">
                <div class="payment">Payment</div>
                <div class="title-divider"></div>
            </div>
            <div class="payment-options">
                <div class="method-selector">
                    <div class="pay-with">Pay With:</div>
                    <div class="method-choice">
                        <div class="card">
                            <input class="card-child" type="radio" name="radioGroup-1" />

                            <div class="card1">Card</div>
                        </div>
                        <div class="bank">
                            <input class="bank-child" type="radio" name="radioGroup-1" />

                            <div class="bank1">Bank</div>
                        </div>
                        <div class="transfer">
                            <img class="transfer-child" alt="" src="./public/frame-3-2.svg" />

                            <div class="transfer1">Transfer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-title">
                <div class="card-details">
                    <div class="card-number">Card Number</div>
                    <div class="card-number-field">
                        <input class="input" placeholder="1234  5678  9101  1121" type="text" />
                    </div>
                </div>
                <div class="card-info">
                    <div class="card-date">
                        <div class="expiration-date">Expiration Date</div>
                        <div class="date-fields">
                            <input class="mmyy" placeholder="MM/YY" type="text" />
                        </div>
                    </div>
                    <div class="card-date1">
                        <div class="cvv">CVV</div>
                        <div class="wrapper18">
                            <input class="input1" placeholder="123" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="save-card-details-container">
                <div class="save-card-details">
                    <input class="frame-input" type="checkbox" />

                    <div class="save-card-details1">Save card details</div>
                </div>
            </div>
            <div class="pay" id="payContainer">
                <b class="payment-button">USD 20.00 결제</b>
            </div>
            <div class="your-personal-data">
                Your personal data will be used to process your order, support your
                experience throughout this website, and for other purposes described
                in our privacy policy.
            </div>
        </div>
        <div class="order-summary" data-scroll-to="orderSummaryContainer">
            <div class="summary-header">
                <div class="summary-header-child"></div>
                <div class="summary-title">
                    <div class="order-summary1">Order Summary</div>
                    <div class="summary-title-child"></div>
                </div>
                <div class="subscription-details">
                    <div class="order-item">
                        <div class="order-item-info">
                            <div class="order-item-name">
                                <div class="item-name">
                                    <div class="subscription-plan">Monthly Subscription</div>
                                    <div class="item-price">$20.00</div>
                                </div>
                                <div class="item-name1">
                                    <div class="brown-vegan-leather">Brown Vegan Leather</div>
                                    <div class="div29">/ 월</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discount-container">
                    <div class="code-divider"></div>
                    <div class="discount-row">
                        <div class="code-input">
                            <input class="gift-or-discount" placeholder="Gift or discount code" type="text" />
                        </div>
                        <button class="code-input1">
                            <div class="apply">Apply</div>
                        </button>
                    </div>
                    <div class="total-divider"></div>
                </div>
                <div class="code-field">
                    <div class="total-details">
                        <div class="total">Total</div>
                        <div class="div30">매 월 자동 청구</div>
                    </div>
                    <div class="total-price">$20.00</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>