<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port Congestion Service Home</title>

    <!-- 페이지 css 추가 -->

    <link rel="stylesheet" th:href="@{/css/glv.css}" />
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script>
        const nav = document.querySelector('.global-navigation-bar');
        let lastScrollY = window.scrollY;

        $(function () {
            // 로그인/회원가입 액션
            $(".log-in").on('click', function () {
                window.location.href = "/user/login";
            });
            $(".sign-up").on('click', function () {
                window.location.href = "/user/join";
            });
            $(".log-out").on('click', function () {
                window.location.href = "/user/logout";
            });
            $(".my-page").on('click', function () {
                // window.location.href = "/user/mypage";
            })
            // 스크롤 액션 
            $(document).on('scroll', () => {
                console.log(lastScrollY);
                if (window.scrollY > lastScrollY) { // 아래로 스크롤
                    console.log("아래로 스크롤");
                    $('.global-navigation-bar').addClass('hide');
                } else { // 위로 스크롤
                    console.log("위로 스크롤");
                    $('.global-navigation-bar').removeClass('hide');
                }
                lastScrollY = window.scrollY;
            });

        });

        $(function () {
            // 본문 동작 

        });
    </script>
</head>

<body>
    <div class="global-navigation-bar">
        <div class="navigation-menu">
            <div class="menu"><a th:href="@{/}">Home</a></div>
            <div class="menu"><a th:href="@{/portStatus}">Port Status</a></div>
            <div class="menu"><a th:href="@{/vesselSchedule}">Vessel Schedule</a></div>
            <div class="menu"><a th:href="@{/marineNews}">Marine News</a></div>
            <div class="menu"><a th:href="@{/subscription}">Subscription</a></div>
        </div>
        <div class="user-menu">
            <button class="log-in" sec:authorize="isAnonymous()">Log in</button>
            <button class="sign-up" sec:authorize="isAnonymous()">Sign up</button>
            <button class="log-out" sec:authorize="isAuthenticated()">Log out</button>
            <button class="my-page" sec:authorize="isAuthenticated()">My page</button>
        </div>
    </div>



</body>

</html>