<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Port Congestion Service Home</title>

  <link rel="stylesheet" th:href="@{/css/chart2.css}">
  <link rel="stylesheet" th:href="@{/css/googleMap.css}">
  <link rel="stylesheet" th:href="@{/css/liveChat.css}" />
  <!-- 페이지 css 추가 -->
  <!-- 웹소켓 STOMP 프로토콜 script -->
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
  <script th:src="@{/script/stomp.min.js}"></script>
  <script th:src="@{/script/liveChat.js}" defer></script>

  <script async th:src="@{/script/portStatus.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> <!-- 차트 구현 -->

  <link rel="stylesheet" th:href="@{/css/glv.css}" />
  <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCup0qVTnfr2x9IVuGjV1T95niuiMV4e9k&callback=initMap">
      (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
        key: "AIzaSyCup0qVTnfr2x9IVuGjV1T95niuiMV4e9k",
        // Add other bootstrap parameters as needed, using camel case.
        // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
      });
    </script>
  <script>
    const nav = document.querySelector('.global-navigation-bar');
    let lastScrollY = window.scrollY;

    $(function () {
      // 로그인/회원가입 액션
      $(".log-in").on('click', function () {
        window.location.href = "/user/login";
      });
      $(".sign-up").on('click', function () {
        window.location.href = "/user/join";
      });
      $(".log-out").on('click', function () {
        window.location.href = "/user/logout";
      });
      $(".my-page").on('click', function () {
        // window.location.href = "/user/mypage";
      })
      // 스크롤 액션 
      $(document).on('scroll', () => {
        console.log(lastScrollY);
        if (window.scrollY > lastScrollY) { // 아래로 스크롤
          console.log("아래로 스크롤");
          $('.global-navigation-bar').addClass('hide');
        } else { // 위로 스크롤
          console.log("위로 스크롤");
          $('.global-navigation-bar').removeClass('hide');
        }
        lastScrollY = window.scrollY;
      });

    });

    $(function () {
      // 본문 동작
      // 1) 채팅 메세지 입력
      $("#message-field").on('keyup', function () {
        let text = $("#message-field").val();
        if (text.length != 0) {
          $("#img-change-to").attr('src', '/img/paper_airplane_white.svg');
          $("#send-button").prop('disabled', false);
        } else {
          $("#img-change-to").attr('src', '/img/paper_airplane_gray.svg');
          $("#send-button").prop('disabled', true);
        }
      });

      // 2) 채팅방 display:none 처리
      hideChatWindow(); // document load 시
      $(".close_btn").on('click', hideChatWindow); // 항구정보 닫기버튼 클릭 시

      // 채팅방 숨기기 함수
      function hideChatWindow() {
        $("body>.chat-window").css("display", "none");
      }
    });
  </script>
</head>

<body>
  <div class="global-navigation-bar">
    <div class="navigation-menu">
      <div class="menu"><a th:href="@{/}">Home</a></div>
      <div class="menu"><a th:href="@{/portStatus}">Port Status</a></div>
      <div class="menu"><a th:href="@{/port}">Vessel Schedule</a></div>
      <div class="menu"><a th:href="@{/marineNews}">Marine News</a></div>
      <div class="menu"><a th:href="@{/subscription}">Subscription</a></div>
    </div>
    <div class="user-menu">
      <button class="log-in" sec:authorize="isAnonymous()">Log in</button>
      <button class="sign-up" sec:authorize="isAnonymous()">Sign up</button>
      <button class="log-out" sec:authorize="isAuthenticated()">Log out</button>
      <button class="my-page" sec:authorize="isAuthenticated()">My page</button>
    </div>
  </div>
  <!-- 구글맵 -->
  <div id="map">
  </div>

  <!-- 채팅창 설정 속성 -->
  <input type="hidden" id="portId">
  <input type="hidden" id="lastChat">
  <!-- 로그인 사용자일 때, -->
  <input type="hidden" id="user" sec:authentication="name">
  <!-- 비로그인 사용자일 때, -->
  <!-- <input type="hidden" id="user" value=""> -->

  <!-- 채팅창 -->
  <div class="chat-window">
    <div class="chat-header">
      <div class="center-title">
        <div class="port-name">🇭🇰 Hongkong Port</div>
        <div class="last-chat" id="last-chat">Last chat 30 minutes ago</div>
      </div>
      <div class="toggle-wrapper">
        <div class="chatbot-label">AI Chatbot🤖</div>
        <div class="toggle">
          <input type="checkbox" id="toggle-slider">
          <label for="toggle-slider">on/off</label>
        </div>
      </div>
    </div>
    <div class="chat-message-window">
      <!-- 채팅 메세지 is shown here -->
    </div>
    <div class="chat-input-bar">
      <div class="emoji"><img th:src="@{/img/emoji.svg}" alt=""></div>
      <div class="text-field">
        <input type="text" id="message-field" name="message" placeholder="Start typing...">
      </div>
      <div class="send-box">
        <div class="mention"><img th:src="@{/img/mention.svg}" alt=""></div>
        <div class="send-button-container">
          <button id="send-button" disabled>
            <img id="img-change-to" th:src="@{/img/paper_airplane_gray.svg}" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--모달 팝업: 차트 부분-->
  <div id="portModal" class="modal">
    <div id="popup1" class="popup">
      <h2 id="portTitle">항구명</h2>
      <h4 id="portCode"></h4>
      <!-- 날씨정보 -->
      <div class="box">
        <ul>
          <li>Temperature: <span class="temperature"></span>°C</li>
          <li>Min Temp: <span class="temp_min"></span>°C</li>
          <li>Max Temp: <span class="temp_max"></span>°C</li>
          <li>Weather: <span class="weather"></span></li>
          <li>Icon: <span class="icon"></span></li>
        </ul>
      </div>
    </div>

    <div class="flex-container">
      <img th:src="@{img/close_icon.png}" class="close_btn" alt="닫기 아이콘">


      <div id="popup2" class="popup">
        <h4 class="Title">항만 혼잡도</h4>
        <div id="portCogIconPlace">
          <!-- 항만 혼잡도 지표가 들어가는 곳 -->
        </div>

        <div id="portCogToolTip">
          <p id="portCog"></p>
          <div class="portCogTooltip-container">
            <p id="portCogTooltip-text">The tooltip text.</p>
            <img th:src="@{img/tooltip.png}" alt="툴팁 이미지" width="14px">
          </div>
        </div>


        <p id="vesselMessage"></p>

        <p id="efficiencyMessage"></p>
      </div>

      <!-- popup3 -->
      <div id="popup3" class="popup">

        <div class="waitingChartDiv">
          <div class="TotalCount">

            <h4 class="Title">대기중인 선박 대수</h4>
            <div class="shipChartToolTip">
              <div class="portCogTooltip-container">
                <p id="portCogTooltip-text">The tooltip text.</p>
                <img th:src="@{img/tooltip.png}" alt="툴팁 이미지" width="14px">
              </div>
            </div>

          </div>

          <h2 id="waitingShipTotal"></h2>

          <div id="waitingShipListChart">
            <div id="waitingShipListChartContent1"></div>
            <div id="waitingShipListChartContent2"></div>
          </div>
        </div>

        <div class="workingChartDiv">

          <div class="TotalCount">
            <h4 class="Title">작업중인 선박 대수</h4>
            <div class="shipChartToolTip">
              <div class="portCogTooltip-container">
                <p id="portCogTooltip-text">The tooltip text.</p>
                <img th:src="@{img/tooltip.png}" alt="툴팁 이미지" width="14px">
              </div>
            </div>

          </div>

          <h2 id="workingShipTotal"></h2>

          <div id="workingShipListChart">
            <div id="workingShipListChartContent1"></div>
            <div id="workingShipListChartContent2"></div>
          </div>
        </div>

      </div>

      <!-- popup4 -->

      <div id="popup4" class="popup">

        <div class="titleAndtooltip">
          <h4 class="Title">선박별 평균 대기시간</h4>
          <div class="shipChartToolTip">
            <div class="portCogTooltip-container">
              <p id="portCogTooltip-text">The tooltip text.</p>
              <img th:src="@{img/tooltip.png}" alt="툴팁 이미지" width="14px">
            </div>
          </div>
        </div>

        <div id="avgWaitingChart">
          <div id="avgWaitingChartContent"></div>
        </div>
      </div>

      <div id="popup5" class="popup">
        <div class="titleAndtooltip">
          <h4 class="Title">대기 시간 & 혼잡도 통계</h4>

          <select id="chartChoose">
            <option value="lastWeek">지난 7일</option>
            <option value="lastMonth">지난 한달</option>
          </select>

          <div class="shipChartToolTip">
            <div class="portCogTooltip-container">
              <p id="portCogTooltip-text">The tooltip text.</p>
              <img th:src="@{img/tooltip.png}" alt="툴팁 이미지" width="14px">
            </div>
          </div>
        </div>

        <div id="lastWeekChart">
          <div id="lastWeekChartContent"></div>
        </div>
      </div>



    </div>
  </div>
  <!--end 모달 팝업-->

</body>

</html>